<div class="container">
  <div class="row">
    <form [formGroup]="projectForm" (onSubmit)="onSubmit()">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="form-group">
          <label for="projectName">Project name:</label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="projectStatus">Project status:</label>
          <select
            id="projectStatus"
            formControlName="projectStatus"
            class="form-control">
            <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
          </select>
        </div>

        <!--
            Create a Form with the following Controls and Validators
            1) Project Name (should not be empty)
            2) Mail (should not be a empty and a valid email)
            3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
            4) Submit Button

            Add your own Validator which doesn't allow "Test" as a Project Name

            Also implement that Validator as an async Validator (replace the other one)

            Upon submitting the form, simply print the value to the console
        -->
      </div>
    </form>
  </div>
</div>
